/*CSS reset start*/
*{
    box-sizing: border-box;
}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{
    margin: 0;
    padding: 0;
}
body{
    font: 12px"微软雅黑","Arial Narrow",HELVETICA;
    background: #DEDEDE;
    -webkit-text-size-adjust: 100%;
}
a {
    color: #00f;
    text-decoration:underline
}
a:hover {
    color: #C81623;
}
em,address{
    font-style: normal;
}
li{
    list-style: none;
}
img{
    border: 0;
    vertical-align: middle;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
p{
    word-wrap: break-word;
}
.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;/*IE678*/
}
/*CSS reset end*/

body{
    background-color: #5D5D5D;
}
.container{
    height: 1386px;
    width: 980px;
    padding: 0 44px;
    margin: 40px auto;
    background-color: #fff;
}
header{
    height: 63px;
    border-bottom: 2px solid #938e8c;
}
.header-left{
    float: left;
    width: 110px;
    height: 61px;
    background-color: #d45d5c;
}
.header-left p{
    font: 12px SimHei;
    color: #fff;
    margin: 44px 0 0 5px;
}
p.header-right{
    float: right;
    font: 12px SimHei;
    color: #d45d5c;
    margin: 46px 1px 0 0;
}
main{
    height: 1263px;
    padding: 35px 0 39px 0;
}
.section-1{
    height: 301px;
    margin-bottom: 40px;
}
.section-1-left{
    position: relative;
    display: inline-block;
    height: 301px;
    width: 641px;
}
.section-1-left .left-button{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 301px;
    width: 191px;
    background-color: rgba(66,140,89,0.5);
}
.section-1-left .right-button{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    height: 301px;
    width: 191px;
    background-color: rgba(204,118,128,0.5);
}
.section-1-right{
    float: right;
    height: 301px;
    width: 202px;
    border-top: 2px solid #CD8092;
    padding-top: 10px;
}
.section-1-right .section-1-text1{
    font: 24px 微软雅黑;
    color: #040000;
    /*text-transform: uppercase;*/
    font-variant:small-caps;
    text-decoration: underline;
}
.section-1-right .section-1-text2{
    font: italic 12px KaiTi;
    color: #676767;
}
.section-1-right .section-1-text3{
    text-indent: -14px;
    font: italic 700 116px 微软雅黑;
    color: #75b86b;
}
.section-1-right .section-1-text4{
    display: inline-block;
    margin-top: -20px;
    font: 55px 微软雅黑;
}
.section-1-right .section-1-text-5-6{
    display: inline-block;
}
.section-1-right .section-1-text5{
    font: 21px/21px 微软雅黑;
    color: #cc8091;
}
.section-1-right .section-1-text6{
    font: 12px/12px 微软雅黑;
    color: rgba(35,24,21,0.4);
}
.section-2{
    height: 242px;
}
.section-2-text1{
    height: 242px;
    width: 228px;
    display: inline-block;
    margin-right: 27px;
}
.section-2-text1-what{
    font:700 16px 微软雅黑;
    color: #418c59;
    text-decoration: underline;
    padding-bottom: 10px;
}
.section-2-text1-content,
.section-2-text2-content{
    font: 12px/16px 宋体;
    color: #767777;
}
.section-2-text2{
    height: 242px;
    width: 205px;
    display: inline-block;
    margin-right: 27px;
}
.section-2-text2-when{
    font:700 16px 微软雅黑;
    color: #d2994f;
    text-decoration: underline;
    padding-bottom: 10px;
}
.section-2-text3{
    height: 242px;
    display: inline-block;
    vertical-align: top;
}
.section-2-text3-how{
    font:700 16px 微软雅黑;
    color: #cc7680;
    text-decoration: underline;
    padding-bottom: 10px;
}
.section-2-text3-content{
    margin-top: -2.5px;
    font: 12px/21px 宋体;
    color: #767777;
}
.section-2-text3-percent{
    padding-top: 18px;
    font: 12px/21px 微软雅黑;
    color: #231815;
    opacity: 0.7;
}
.section-2-text3 .how-percent{
    font-style: italic;
    color: #cd4a48;
}
.section-3{
    height: 606px;
}
.section-3-left{
    float: left;
    width: 415px;
    margin-right: 19px;
}
.section-3-left .section-3-left-title{
    height: 155px;
    border-bottom: 2px solid #10466C;
    margin-bottom: 20px;
}
.section-3-left .section-3-left-title-eng{
    font: 700 42px/40px 黑体;
    color: #11456b;
}
.section-3-left-title-eng span{
    font-size: 72px;
    font-style: italic;
    color: #f5e327;
    line-height: 50px;
}
.section-3-left .section-3-left-title-chs{
    padding-top: 8px;
    font: 700 33px/33px 黑体;
    color: #11456b;
}
.section-3-left-content p{
    font: 12px/16px 宋体;
    color: #767777;
}
p.section-3-left-content-1:first-letter{
    float: left;
    color: #f5e327;
    font: 70px/70px 微软雅黑;
    /*position: absolute;*/
    /*display: inline-block;*/
}
p.section-3-left-content-2,
p.section-3-left-content-3{
    text-indent: 2em;
}
.section-3-left-content img{
    /*position: absolute;*/
    /*top: 20px;*/
    /*right: 0;*/
    float: right;
    padding: 16px;
}
.section-3-right{
    float: left;
    width: 458px;
    height: 605px;
}
.section-3-right .section-3-right-top{
    position: relative;
    width: 458px;
    height: 257px;
    margin-bottom: 30px;
}
.section-3-right-top img{
    opacity: 0.7;
}
.section-3-right .section-3-right-top-banner{
    background-color: rgba(4,0,0,0.4);
    position: absolute;
    width: 458px;
    height: 60px;
    bottom: 0;
}
.section-3-right .section-3-right-top-banner-inner{
    height: 44px;
    margin-top: 8px;
    margin-left: 38px;
    padding-left: 12px;
    border-left: 3px solid #72b16a;
    font: 26px/44px 微软雅黑;
    color: #fff;
}
.section-3-right-top-banner-inner span{
    padding-left: 20px;
    display: inline-block;
    font: italic 12px/12px 微软雅黑;
    color: #72b16a;
    transform:scaleX(1.4);
}
.section-3-right-bottom{
    position: relative;
    width: 458px;
    height: 318px;
    background-color: #eeedd6;
}
.section-3-right-bottom .section-3-right-bottom-top{
    position: absolute;
    width: 458px;
    height: 157px;
}
.section-3-right-bottom-top ul{
    margin-top: 20px;;
    margin-left: 47px;
}
.section-3-right-bottom-top li{
    position: relative;
    width: 390px;
    height: 40px;
    font: 16px/40px 宋体;
}
.section-3-right-bottom-top li:before{
    content: '\25B2 ';
    position: absolute;
    color: #10446b;
    font-size: 12px;
    left: -16px;
}
.section-3-right-bottom-top li:after{
    position: absolute;
    font: italic 12px/40px 宋体;
    right: 0;
}
.section-3-right-bottom-top li.li-1:after{
    content: "前端";
}
.section-3-right-bottom-top li.li-2:after{
    content: "前端前";
}
.section-3-right-bottom-top li.li-3:after{
    content: "前端";
}
.section-3-right-bottom .section-3-right-bottom-leftbottom{
    position: absolute;
    width: 260px;
    height: 160px;
    background-color: #d45d5c;
    bottom: 0;
    left: 0;
}
.section-3-right-bottom-leftbottom .section-3-right-bottom-leftbottom-span1{
    float: left;
    padding-left: 10px;
    margin-top: 40px;
    width: 80px;
    height: 86px;
    font: 110px/86px 微软雅黑;
    color: #fff;
    border-right: 2px solid #fff;
}
.section-3-right-bottom-leftbottom .section-3-right-bottom-leftbottom-span2{
    float: left;
    height: 48px;;
    padding-left: 9px;
    padding-top: 43px;
    font: italic 21px/24px 黑体;
    color: #fff;

}
.section-3-right-bottom-leftbottom .section-3-right-bottom-leftbottom-span3{
    float: left;
    height: 24px;
    font:  12px/12px 黑体;
    color: #fff;
    margin-top: 48px;
    padding-left: 9px;
    padding-top: 3px;
}
.section-3-right-bottom .section-3-right-bottom-rightbottom{
    position: absolute;
    width: 198px;
    height: 160px;
    bottom: 0;
    right: 0;
    font: italic 14px/16px 黑体;
    text-indent: 3em;
    color: #5a5b5b;
    padding-left: 15px;
    padding-top: 15px;
}
.section-3-right-bottom-rightbottom:before{
    position: absolute;
    left: -66px;
    top: 3px;
    content: "“";
    width: 26px;
    height: 22px;
    font: normal 72px/72px 黑体;
    color: #d45d5c;
}.section-3-right-bottom-rightbottom:after{
     position: absolute;
     right: 69px;
     bottom: 42px;
     content: "”";
     width: 26px;
     height: 22px;
     font: normal 72px/72px 黑体;
     color: #d45d5c;
 }
footer{
    height: 60px;
    border-top: 1px solid #938e8c;
}
footer .footer-right{
    float: right;
    font: 12px SimHei;
    color: #d45d5c;
}