body {
    margin: 0;
    padding: 0;
}

.inputarea {
    margin: 50px auto 0;
    padding: 0;
    text-align: center;
}

ul {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 100px auto 0;
    padding: 0;
    text-align: center;
    height: 120px;
    padding: 0 100px;
}

li {
    box-sizing: border-box;
    display: inline-block;
    margin: 0 4px;
    width: 20px;
    background-color: #33B5E5;
    cursor: pointer;
}

.current {
    background-color: #FFBB33;
}

.next {
    background-color: #FF4444;
}

.finish {
    background-color: #99CC00;
}